.register-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  padding-top: 50px;
}

.register-card {
  padding: 24px;
}

.register-title {
  text-align: center;
  margin-bottom: 24px;
}
